*{
margin:0px;
padding:0px;
}
#all{background-color: pink;}
header  img{padding-left: 2.0em;
	width: 589px;
	float: left;
}
#header right : {
	background-color: pink;
	width: 680px;
	float:right;
}

content{float: left;
}

#left{
	padding-left: 5.0em;
	/*background-color: yellow;*/
	width: 589px;
	float: left;
}

#left h3{
	padding-left: 1.0em;
}

#right{
	/*background-color: yellow;*/
	width: 680px;
	float:right;
}

#right h3{padding-left: 1.0em;
}