*{
	margin: 0;
	padding: 0;
}
#main{
	width: 50%;
	margin: 0 auto;
	height: 330px;
}
#account{
	float: left;
	width: 49%;
	margin-right:  5px;
}
#login{
	border: 1px solid #888888;
	margin: 10px;
	padding: 10px;
	height: 160px;
	padding-left: 0.5em;

}
h1{
	font-weight: bold;
	padding-left: 0.5em;
}
.user input, .pass input{
	width: 95%;
	height: 25px;
}
.pass, #submit{
	margin-top: 0.5em;
}
.submit input{
	width: 56px;
	height: 25px;
	margin: 0.5px;
	float: left;
    padding-top: 4px;
}
span{
	vertical-align: middle;
}
.remember{
	padding-top: 5px;
	float: left;
	margin-left: 10px;
}
.lyp u{
	float: left;
	width: 100%;
	margin-top: 0.6em;
	color:  #0033CC;
}
#info{
	float: left;
	width: 49%;
	height: 250px;
	margin-left:   5px;
}
.phone input, .email input{
	width: 95%;
	height: 25px;
}
#name{
	margin-top: 0.6em;
	height:  25px;
}
.firstname{
	float: left;
	width: 48%;
}
.lastname{
	float: right;
	width: 48%;	
}
.name{
	width: 90%;
	height: 25px;
}
.email{
	margin-top: 0.6em;
}
#register{

	border: 1px solid #888888;
	margin: 10px;
	padding: 10px;
	padding-left: 0.5em;
}
.register input{
	width: 80px;
	height: 29px;
	margin-top: 0.6em;
}
@media screen and (max-width: 768px){
	#main{
		width: 48.8%;
		height: 560px;
	}
	#login{
		width: 174%;
		height: 160px;
	}
	#register{
		width: 170%;
		height: 250px;
	}
	#login p, #register p{
		font-size: 15px;
	}
}