#container {
	width: 80%;
	margin: 0 auto;
	border: 1px solid green;
}
header {
	height: 150px;
	border: 1px solid green;
}
header .logo {
	height: 100px;
	width: 30%;
	float: left;
	border: 1px solid green;
	text-align: center;
	line-height: 100px;
}
header .banner {
	height: 100px;
	width: 69.61%;
	float: left;
	border: 1px solid green;
	text-align: center;
	line-height: 100px;
}
header .menu {
	clear: both;
	height: 48px;
	border: 1px solid green;
	text-align: center;
	line-height: 48px;
}
li {
    float: left;
    list-style-type: none;
}

li a{
    display: inline-block;
    color: red;
    text-align: center;
    padding: 0px 22px;
    text-decoration: none;
}

li a:hover{
    background-color: yellow;
}

#main {
	height: 1000px;
}
.main1-left {
	width: 49.5%;
	height: 200px;
	border: 1px solid green;
	float: left;
	text-align: center;
	line-height: 200px;
}
.main1-right {
	float: left;
	width: 50.11%;
	border: 1px solid green;
	height: 200px;
}
.main1-right-content{
	border: 1px solid green;
	height: 65px;
	text-align: center;
	line-height: 65px;
}
.main2-left{
	width: 70%;
	height: 200.5px;
	border: 1px solid green;
	float: left;
	/*text-align: center;
	line-height: 100px;*/
}
.main2-right1{
	width: 29.5%;
	height: 268px;
	float: right;
	text-align: center;
	border: 1px solid green;
	line-height: 100px;
}
.main2-right2{
	width: 29.5%;
	height: 268px;
	float: right;
	text-align: center;
	border: 1px solid green;
	line-height: 100px;
}
.main2-right3{
	width: 29.5%;
	height: 268px;
	float: right;
	text-align: center;
	border: 1px solid green;
	line-height: 100px;
}
#footer{
	height: 90px;
}
.footer1-left{
	width: 25%;
	height: 76px;
	float: left;
	border: 1px solid green;
	text-align: center;
	line-height: 70px;
}
.footer2-right{
	width: 74.6%;
	height: 76px;
	float: right;
	border: 1px solid green;
	text-align: none;
	line-height: 70px;
}
